*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
main{
    margin-bottom: 75px;
}
.menu{ 
    position: sticky; /* POSICION STICKY */
    top: 0;
    background-color: rgb(74, 74, 74);
    padding: 1rem;
    z-index: 100;
    font-family: "Racing Sans One", "Orbitron", "Lemon", sans-serif;
    font-size: 1.8rem;
    width: 100%;
}
.menu *{ 
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
    color: white;
}

input#buscador{
    color: black;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}
button#buscarBtn{
    color: white;
    background-color: rgb(50, 50, 50);
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
}
button#buscador:hover{
    background-color: rgb(80, 80, 80);
}

main section select{
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.contenedor-imagenes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.contenedor-imagenes figure {
    padding: 1rem;
    text-align: center;
    border: 2px solid #f7589d;
    border-radius: 10px;
    background: #EEAECA;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.contenedor-imagenes figure img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.contenedor-imagenes figure figcaption {
    text-align: center;
    margin-top: 5px;
    font-size: 1.4rem;
}

.contenedor-imagenes figure .btnFavorito, .basurilla {
    margin: 5px;
    margin-top: 10px;
    font-size: 1.4rem;
    padding: 5px;
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    border-radius: 7.5px;
}
.Paginacion{
    display: flex;
    justify-content: center;
    gap: 0.5rem; 
    margin-block: 2rem;
}

.boton_paginacion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.375rem;
}

.pie-de-pagina{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    opacity: 0.80;
    color: white;
    padding: 1rem;
    z-index: 1000;
}

/* 
< ===================================================== >
                        500px
< ===================================================== >
*/

@media screen and (min-width: 500px) {
    .contenedor-imagenes {
        grid-template-columns: repeat(2, 1fr);
    }
    .contenedor-imagenes figure img {
        height: 250px;
    }
}

/* 
< ===================================================== >
                        768px
< ===================================================== >
*/

@media screen and (min-width:768px) {
   .contenedor-imagenes {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 15px;
    margin-right: 15px;
}

.contenedor-imagenes figure figcaption {
    font-size: 1.5rem;
}
}/*768px*/


/* 
< ===================================================== >
                        992px
< ===================================================== >
*/

@media screen and (min-width:992px) {

}/*992px*/

/* 
< ===================================================== >
                        1200px
< ===================================================== >
*/

@media screen and (min-width:1200px) {
    .contenedor-imagenes figure img {
        width: 90%;
        height: 450px;
    }
}/*1200px*/