*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.menu{ 
    position: sticky; /* POSICION STICKY */
    top: 0;
    background-color: rgb(74, 74, 74);
    padding: 10px;
    z-index: 100;
    font-family: "Racing Sans One", "Orbitron", "Lemon", sans-serif;
    font-size: 1.8rem;
    width: 100%;
}
.menu *{ 
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pie-de-pagina{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    opacity: 0.80;
    color: white;
    padding: 15px;
    z-index: 1000;
}
/* 
< ===================================================== >
                        768px
< ===================================================== >
*/

@media screen and (min-width:768px) {
   
}/*768px*/


/* 
< ===================================================== >
                        992px
< ===================================================== >
*/

@media screen and (min-width:992px) {
    
}/*992px*/

/* 
< ===================================================== >
                        1200px
< ===================================================== >
*/

@media screen and (min-width:1200px) {
    
}/*1200px*/